# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# dist -- Don't ignore this, these are the production files.
bower_components
node_modules
npm-debug.log
