.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;

    >img {
        height: $navbar-height - 10;
    }
}

.admin-bar {
    .navbar-fixed-top {
        top: 32px !important;
        @media screen and (max-width: 782px) {
            top: 46px !important;
        }
    }
}
